<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Каталог товаров</title>



        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/main1.css" rel="stylesheet" />
      
</head>
<body>
<div class="pad">



<div class="bg1"><div class="musl"></div><div class="line">Пироженные</div>
<span class="vnum">+7 (911) 666-16-96</span>  
<title>кнопки</title>
<div class="navbar">
<button class="bstyle1" >
<span class="f1">Каталог</span></button>
<button class="bstyle2" >
<span class="f1">Отзывы</span></button>
<button class="bstyle3" >
<span class="f2">Доставка и оплата</span>
</button>
<button class="bstyle4" >
<span class="f2">Мой Аккаунт</span>
</button>


</div>
<span class="vtxt_1">Онлайн-кондитерская</span>
<span class="vtxt_2">Каталог</span> </div>



  <div class="col-md-8">
 <div class="row">
  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

 <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>



  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

 </div>  </div>    








<div class="line2">Торты</div>

  <div class="col-md-8">
 <div class="row">
  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

 <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>



  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пироженные</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

 </div>  </div>













<div class="line3">Хлеб</div>

  <div class="col-md-8">
 <div class="row">
  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Багет</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

 <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Кирпич</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Бородинский</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="C:\Users\kesha\OneDrive\Desktop\Фронт\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Бездрожевой</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>




</div>







 <title>серединка</title>
<header class="main2"></header class="main2">



<footer class="main2"><div class="fline">
  
<span class="ftxt_1">г. Санкт-Петербург,ул. Мира, д. 7</span>
<div class="pic_3"></div>
<div class="txt_14">
  <span class="txt_15">+7 (911) 666-16-96</span>
  <div class="phone"></div></div>
<div class="ftxt_13">
  <span class="ftxt_12">dip_down.gmail.ru</span>
  <div class="ftxt_11"></div></div>


</div></footer class="main2">






  



</body>
</html>

