<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Каталог товаров</title>



        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/main1.css" rel="stylesheet" />
      
</head>
<body>
<div class="pad">



<div class="bg1"><div class="musl"></div><div class="line">Пирожные</div>
<span class="vnum">+7 (911) 666-16-96</span>  
<title>кнопки</title>
<div class="navbar">
<button class="bstyle1" >
<span class="f1">Каталог</span></button>
<button class="bstyle2" >
<span class="f1">Отзывы</span></button>
<button class="bstyle3" >
<span class="f2">Доставка и оплата</span>
</button>
<button class="bstyle4" >
<span class="f2"><a href="/Mypage">Мой Аккаунт</a></span>
</button>


</div>
<span class="vtxt_1">Онлайн-кондитерская</span>
<span class="vtxt_2">Каталог</span> </div>



  <div class="col-md-8">
 <div class="row">
  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="static\images\v311_98.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожные набор</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

 <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="static\images\v357_0.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожное белое</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€1.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="static\images\v357_1.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожное розовое</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€1.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 215px">
 <div class="product-img">
 <a href="#"><img src="static\images\v357_2.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожное нежное</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€2.00</p>
 </div>
  </div>



  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="static\images\v361_0.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожные зимний набор</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€10.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="static\images\v364_147.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожное бежевое</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€1.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="static\images\v361_2.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожное снег</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€2.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 515px">
 <div class="product-img">
 <a href="#"><img src="static\images\v361_1.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Пирожное с начинкой</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€2.00</p>
 </div>
  </div>

 </div>  </div>    








<div class="line2">Торты</div>

  <div class="col-md-8">
 <div class="row">
  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="https://static.tildacdn.com/tild6539-6565-4435-b366-326435363339/AAM_1984_kronverkfot.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Медовик</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€20.00</p>
 </div>
  </div>

 <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="https://www.napoleoncake.ru/upload/iblock/322/322b5883d466f9425d628c8a41134a52.jpg?156096281958728" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Наполеон</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€21.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="https://морееды.рф/upload/iblock/1a5/1a5bca418635ed115466dcbcef9751ec.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Тирамису</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€19.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 880px">
 <div class="product-img">
 <a href="#"><img src="https://legkovmeste.ru/wp-content/uploads/2018/07/tort-2-768x525.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Захер</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€25.00</p>
 </div>
  </div>



  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="https://www.eat-me.ru/wp-content/uploads/2013/04/tort-pancho.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Панчо</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€23.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="https://cdn.konturclick.ru/content/5d5a73394485e2b1836dd26d/original/5dffa61df0e7165a5ac61e05.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Сметанник</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€17.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="https://tortodelfeo.ru/wa-data/public/site/retsepty/2018Foo125252_.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Чизкейк</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€16.00</p>
 </div>
  </div>

    <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 1180px">
 <div class="product-img">
 <a href="#"><img src="https://dom-desertov.ru/wp-content/uploads/2018/01/retsept-torta-praga-1024x820.png" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Прага</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€17.00</p>
 </div>
  </div>

 </div>  </div>













<div class="line3">Хлеб</div>

  <div class="col-md-8">
 <div class="row">
  <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 45px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="https://avatars.mds.yandex.net/get-zen_doc/225901/pub_5b97ce7a071c7b00aa615e6b_5b97ce9846f39d00aa67690c/scale_1200" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Багет</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€3.00</p>
 </div>
  </div>

 <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 380px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="https://td-sitny.ru/wp-content/uploads/2020/09/hleb-stolichny.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Столичный</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€1.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 725px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="https://edinstvo-nk.ru/wp-content/uploads/2020/09/845.970.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Бородинский</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€1.00</p>
 </div>
  </div>


   <div class="col-sm-4">
 <div class="product" style="position: absolute;left: 1070px;top: 1550px">
 <div class="product-img">
 <a href="#"><img src="https://attuale.ru/wp-content/uploads/2017/10/bezdrojjey-1.jpg" alt=""
    style="width: 289px";></a>
 </div>
 
 <p class="product-title">
<a >Бездрожевой</a>
 </p>

 <p class="product-desc">
 <a href="#">Купить</a>
 </p>
 <p class="product-price">€2.00</p>
 </div>
  </div>




</div>







 <title>серединка</title>
<header class="main2"></header class="main2">



<footer class="main2"><div class="fline">
  
<span class="ftxt_1">г. Санкт-Петербург,ул. Мира, д. 7</span>
<div class="pic_3"></div>
<div class="txt_14">
  <span class="txt_15">+7 (911) 666-16-96</span>
  <div class="phone"></div></div>
<div class="ftxt_13">
  <span class="ftxt_12">dip_down.gmail.ru</span>
  <div class="ftxt_11"></div></div>


</div></footer class="main2">






  



</body>
</html>

