<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />


        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/main1.css" rel="stylesheet" />
      
</head>
<body>
<div class="pad">
  <title>вверх</title>


<div class="bg1"><div class="musl"></div>
<span class="vnum">+7 (911) 666-16-96</span>  
<title>кнопки</title>
<div class="navbar">
<button class="bstyle1" >
<span class="f1"><a href="/Katalog">Каталог</a></span></button>
<button class="bstyle2" >
<span class="f1">Отзывы</span></button>
<button class="bstyle3" >
<span class="f2">Доставка и оплата</span>
</button>
<button class="bstyle4" >
<span class="f1"><a href="/logout">Выход</a></span>
</button>
</button>
</div>
<span class="vtxt_1">Онлайн-кондитерская</span>
<span class="vtxt_2">Личный Кабинет</span></div>

<div class="bg2">
<h2>Username: {{current_user.fio}}</h2>
    <h2>Phone: {{current_user.phone}}</h2>
<p>Заказ №33481</p>


<div class="shopcart">
  <div class="container">
  
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
              <h2>Ваш заказ</h2>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    
                </tr>
                    <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    
                </tr>
                                   <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    
                </tr>
   
                      <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    
                </tr>
   
                      <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    
                </tr>
  
            </thead>

        </table>
    </div>
    <div>Итого: <span id="total-cart-summa">0</span> руб.</div>
    <br>

    <label id="cardnum"><b>Номер карты</b></label>
    <input type="cardnumber" placeholder="Введите номер вашей карты" name="number" required>
    <div class="stat">Не оплачен</div>
    <button id="order" class="btn btn-info">Оформить заказ</button>
</div>
</div>




 <title>серединка</title>
<header class="main2"></header>



<footer class="main2"><div class="fline">
  
<span class="ftxt_1">г. Санкт-Петербург,ул. Мира, д. 7</span>
<div class="pic_3"></div>
<div class="txt_14">
  <span class="txt_15">+7 (911) 666-16-96</span>
  <div class="phone"></div></div>
<div class="ftxt_13">
  <span class="ftxt_12">dip_down.gmail.ru</span>
  <div class="ftxt_11"></div></div>


</div></footer>
</div>


</div>
  



</body>
</html>

