<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />


        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/main1.css" rel="stylesheet" />
      
</head>
<body>
<div class="pad">
  <title>вверх</title>


<div class="bg1"><div class="musl"></div>
<span class="vnum">+7 (911) 666-16-96</span>  
<title>кнопки</title>
<div class="navbar">
<button class="bstyle1" >
<span class="f1">Каталог</span></button>
<button class="bstyle2" >
<span class="f1">Отзывы</span></button>
<button class="bstyle3" >
<span class="f2">Доставка и оплата</span>
</button>
<button class="bstyle4" >
<span class="f1">Вход</span>
</button>
<button class="bstyle5" >
    <span class="f3"><a href="/Rega">Регистрация</a></span>
</button>
</button>
</div>
<span class="vtxt_1">Онлайн-кондитерская</span>
<span class="vtxt_2">Каталог</span></div>

<div class="bg2">
	<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</div>

 <title>серединка</title>
<header class="main2"></header class="main2">



<footer class="main2"><div class="fline">
  
<span class="ftxt_1">г. Санкт-Петербург,ул. Мира, д. 7</span>
<div class="pic_3"></div>
<div class="txt_14">
  <span class="txt_15">+7 (911) 666-16-96</span>
  <div class="phone"></div></div>
<div class="ftxt_13">
  <span class="ftxt_12">dip_down.gmail.ru</span>
  <div class="ftxt_11"></div></div>


</div></footer class="main2">
</div>


</div>
  



</body>
</html>

